<div class="row">
    <div class="span12">
        <style>
            .control-group {
                display: inline-table
            }
        </style>
        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <h3>编辑数据库配置</h3>
                <hr/>

                <div class="alert hide" role="alert"></div>


                <form id="edit-database" method="post"
                      class="form-horizontal">
                    <fieldset>
                        <input type="hidden" name="Id" id="Id" value="{{.result.data.Id}}">
                        <input type="hidden" name="Status" id="Status" value="0">

                        <div class="control-group">
                            <label class="control-label" for="UserId">别名</label>
                            <div class="controls">
                                <input type="text" name="AliasName" id="AliasName" value="{{.result.data.AliasName}}"
                                       class="span3">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="Ip">主机地址</label>
                            <div class="controls">
                                <input type="text" name="DbHost" id="DbHost" value="{{.result.data.DbHost}}"
                                       class="span3">
                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="ModuleName">用户名</label>
                            <div class="controls">
                                <input type="text" name="DbUser" id="DbUser" value="{{.result.data.DbUser}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="ModuleName">密码</label>
                            <div class="controls">
                                <input type="text" name="DbPassword" id="DbPassword" value="{{.result.data.DbPassword}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="MethodName">端口</label>
                            <div class="controls">
                                <input type="text" name="DbPort" id="DbPort" value="{{.result.data.DbPort}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="MethodName">数据库名称</label>
                            <div class="controls">
                                <input type="text" name="DbName" id="DbName" value="{{.result.data.DbName}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="MethodName">编码</label>
                            <div class="controls">
                                <input type="text" name="DbCharset" id="DbCharset" value="{{.result.data.DbCharset}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="MethodName">数据库时区</label>
                            <div class="controls">
                                <input type="text" name="DbTimezone" id="DbTimezone" value="{{.result.data.DbTimezone}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="MethodName">最大空闲链接</label>
                            <div class="controls">
                                <input type="text" name="DbMaxIdle" id="DbMaxIdle" value="{{.result.data.DbMaxIdle}}"
                                       class="span3">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="MethodName">最大数据库链接</label>
                            <div class="controls">
                                <input type="text" name="DbMaxConn" id="DbMaxConn" value="{{.result.data.DbMaxConn}}"
                                       class="span3">
                            </div>
                        </div>

                        <br/>



                    </fieldset>
                </form>


                <div class="btn-toolbar" style="text-align: center;margin-left: -200px">

                    <div class="btn-group">
                        <a style="margin-left:8px;" class="btn btn-success" onclick="saveDatabase()">保 存</a>
                        <a style="margin-left:8px;" class="btn btn-info" onclick="listDatabase()" class="btn">返 回</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function saveDatabase() {

        $(".alert").hide();
        $("button[type='submit']").attr('disabled', true);
        showLoading();
        $.post('{{urlfor "DatabaseController.Save"}}', $("#edit-database").serialize(), function (out) {
            if (out.code == "success") {
                showMessage(1, out.msg, 0)
                window.location.href = '{{urlfor "DatabaseController.List"}}';
            } else {
                showMessage(0, out.msg, 0)
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
        }, "json");
        return false;
    }

    function listDatabase() {
        vurl = {{urlfor "DatabaseController.List"}}
                window.location.href = vurl
    }


</script>