<div class="row">
    <div class="span12">

        <div class="widget ">
            <!-- /widget-header -->

            <div class="widget-content">
                <h3>数据库配置详情</h3>
                <hr/>
                <pre class="pre-scrollable" style="text-align: left;height: 100%">日志ID：#{{.result.data.Id}}
                    <br/>处理结果：{{if eq $.result.data.Status 1}} 成功 {{else}} 异常 {{end}}
                    <br/>别名：{{.result.data.AliasName}}
                    <br/>主机地址：{{.result.data.DbHost}}
                    <br/>用户名：{{.result.data.DbUser}}
                    <br/>密码：{{.result.data.DbPassword}}
                    <br/>端口：{{.result.data.DbPort}}
                    <br/>数据库名称：{{.result.data.DbName}}
                    <br/>编码：{{.result.data.AliasName}}
                    <br/>数据库时区：{{.result.data.DbTimezone}}
                    <br/>最大空闲链接：{{.result.data.DbMaxIdle}}
                    <br/>最大数据库链接：{{.result.data.DbMaxConn}}
                    </pre>
                <hr/>

                <div class="btn-group">
                    <a href="{{urlfor "DatabaseController.List" }}" class="btn btn-large"><span
                            class="icon-chevron-left"></span> 返 回</a>
                </div>

            </div>

        </div>
    </div>
</div> <!-- /row -->
