
<div class="row">
    <div class="span12">

        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <h4>字段映射维护</h4>
                <hr/>
                <div class="alert alert-danger {{if eq .result.code "success"}} hidden {{end}}"
                     role="alert">{{.result.msg}}</div>

                <div class="btn-toolbar">
                    <form id="query-from" method="post">
                        <div class="btn-group">
                            <select name="aliasName" id="queryAliasName" class="btn-large"
                                    style="margin-left: 13px;float: left">
                            {{$alias := .param.aliasName}}
                            {{range $v := .aliasNames}}
                                <option value="{{$v }}"    {{if eq $alias $v }} selected {{end}}   >
                                {{$v}}
                                </option>
                            {{end}}
                            </select>
                            <input type="text" name="tableName" id="queryTableName"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{.param.tableName}}" placeholder="日志表名称">
                            <a style="margin-left:8px;" class="btn btn-primary" onclick="queryField()">查询</a>
                            <a style="margin-left:8px;" class="btn btn-success" onclick="saveField()">保 存</a>

                        </div>
                    </form>

                </div>

                <form id="edit-field" method="post" class="form-horizontal">
                    <input type="hidden" name="LogTableName" value="">
                    <fieldset>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="span2">名称</th>
                                <th class="span2">类型</th>
                                <th class="span2">标题</th>
                                <th class="span1">标题排序</th>
                                <th class="span1">显示</th>
                                <th class="span1">主键</th>
                                <th class="span1">OrderBy</th>
                            </tr>
                            </thead>
                            <tbody id="fieldContent">
                            {{range $k, $v := .result.data}}
                            <tr class="">
                                <input type="hidden" name="Id" value="{{$v.Id}}">
                                <input type="hidden" name="Status" value="{{$v.Status}}">
                                <td class="span2"><input type="text" name="FieldName" value="{{$v.FieldName}}"
                                                         class="span2"></td>
                                <td class="span2">
                                    <input type="text" name="FieldType" value="{{$v.FieldType}}" class="span2">
                                </td>
                                <td class="span2"><input type="text" name="FieldTitle" value="{{$v.FieldTitle}}"
                                                         class="span2"></td>
                                <td class="span1"><input type="text" name="FieldSort" value="{{$v.FieldSort}}"
                                                         class="span1"></td>
                                <td class="span1">
                                    <select name="IsShow" class="span2">
                                        <option value="1"  {{if eq $v.IsShow "1"}}selected{{end}} >是</option>
                                        <option value="0"  {{if eq $v.IsShow "0"}}selected{{end}} >否</option>
                                    </select>
                                </td>
                                <td class="span1">
                                    <select name="IsPrimary" class="span2">
                                        <option value="1"  {{if eq $v.IsPrimary 1}}selected{{end}} >是</option>
                                        <option value="0"  {{if eq $v.IsPrimary 0}}selected{{end}} >否</option>
                                    </select>
                                </td>
                                <td class="span1">
                                    <select name="OrderBy" class="span2">
                                        <option value=""></option>
                                        <option value="ASC"  {{if eq $v.OrderBy "ASC"}}selected{{end}} >升序</option>
                                        <option value="DESC"  {{if eq $v.OrderBy "DESC"}}selected{{end}} >降序</option>
                                    </select>
                                </td>
                            </tr>
                            {{end}}
                            </tbody>
                        </table>

                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>

<script>

    function queryField() {
        var valiasName = $("select[name='aliasName']").val()
        var vtableName = $("#queryTableName").val()
        if (valiasName == "") {
            showMessage(0, "请选择数据库", 0);
            return
        }
        if (typeof(vtableName) == "undefined" || vtableName == "") {
            showMessage(0, "请输入日志表名称", 0);
            return
        }

        var url = "{{urlfor "FieldController.Edit"}}";
        $("#query-from").submit();

    }

    function saveField() {
        $(".alert").hide();

        var param = []; //定义数组
        AliasName = $("select[name='aliasName']").val()
        LogTableName = $("input[name='tableName']").val()
        if (AliasName == "") {
            showMessage(0, "请选择数据库");
            return
        }
        if (typeof(LogTableName) == "undefined" || LogTableName == "") {
            showMessage(0, "请输入日志表名称");
            return
        }
        showLoading()
        $("#fieldContent").find("tr").each(function () {

            Id = $(this).find("input[name='Id']").val()
            FieldName = $(this).find("input[name='FieldName']").val()
            FieldType = $(this).find("input[name='FieldType']").val()
            FieldTitle = $(this).find("input[name='FieldTitle']").val()
            FieldSort = Number($(this).find("input[name='FieldSort']").val())
            IsShow = $(this).find("select[name='IsShow']").val()
            IsPrimary = Number($(this).find("select[name='IsPrimary']").val())
            OrderBy = $(this).find("select[name='OrderBy']").val()

            param.push({
                AliasName: AliasName,
                LogTableName: LogTableName,
                FieldName: FieldName,
                FieldType: FieldType,
                FieldTitle: FieldTitle,
                FieldSort: FieldSort,
                IsShow: IsShow,
                IsPrimary: IsPrimary,
                OrderBy: OrderBy
            })
        })

        var data = JSON.stringify(param, null, 5);
        showLoading();
        $.post('{{urlfor "FieldController.Save"}}', data, function (out) {

            if (out.code == "success") {
                // showMessage(1, out.msg, 1);
            } else {
                showMessage(0, out.msg, 1);
            }
            closeLoading();
        }, "json");
        return false;
    }

</script>