<div class="row">
    <div class="span12">

        <div class="widget ">
            <!-- /widget-header -->

            <div class="widget-content">
                <h3>日志详情</h3>
                <hr/>


            {{if eq  "failed" .result.code }}

            {{else}}

            {{$titleMap :=.result.titleMap}}
            {{$dataMap :=.result.dataMap}}

            {{range $elem :=.result.fieldsSort}}

                <h4>{{GetMapValue $elem $titleMap}}</h4>

            {{range $key,$value := $dataMap}}

            {{if eq $elem $key}}
                <pre class="pre-scrollable">{{$value}}</pre>
            {{end}}

            {{end}}

                <hr/>

            {{end}}
            {{end}}


                <div class="btn-group">
                    <a href="{{urlfor "ManagerController.List" }}" class="btn btn-large"><span
                            class="icon-chevron-left"></span> 返 回</a>
                </div>

            </div>

        </div>
    </div>
</div> <!-- /row -->
