<div class="row">
    <div class="span12">
        <style>
            .addressDiv {
                display: none
            }
        </style>

        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <div class="alert hide" role="alert"></div>
                <form id="queryForm" action="{{urlfor "MonitorController.View"}}">
                    <input type="hidden" id="position" name="position" value="1"/>
                    <div class="btn-toolbar" style="background-color: #f9f2f4;padding: 6px 12px 24px;">
                        <div style="margin-top: 13px;" class="hideDiv">
                            <input type="hidden" name="queryType" id="queryType" value="{{.result.param.queryType}}">
                            <input type="text" name="preLineNum" id="preLineNum" value="{{.result.param.preLineNum}}">
                            <input type="text" name="lineNum" id="lineNum" value="{{.result.param.lineNum}}">
                            <input type="text" name="foldPath" id="foldPath" class="span6"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{.result.param.foldPath }}"
                                   placeholder="日志路径:默认C:/data/logs">

                            <a style="margin-left:8px;" class="btn btn-primary" onclick="showLocal()">本地</a>

                            <a style="margin-left:8px;" class="btn btn-primary" onclick="showRemote()">远程</a>
                            <div class="tipsType">{{.result.param.queryType}}</div>
                        </div>

                        <div class="queryDiv" style="display: none">
                            <div style="position: absolute;margin-top: -37px;display: none">
                                <span id="fpath" style="color: #1f69c0"></span>
                                <span id="queryCnt" style="color: #AA00AA"></span><br/>
                            </div>
                            <br/>
                            <input type="text" name="content" id="content" class="span5"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value=""
                                   placeholder="搜索内容">
                            <a style="margin-left:8px;" class="btn btn-warning" onclick="findPrev()">向前</a>
                            <a style="margin-left:8px;" class="btn btn-success" onclick="findNext()">向后</a>
                            <a style="margin-left:8px;" class="btn btn-warning" onclick="findHeader()">文件头部</a>
                            <a style="margin-left:8px;" class="btn btn-success" onclick="findTail()">文件尾部</a>
                        {{/* <input type="text" id="input1" />
                            <input type="text" id="input2" />
                            <input type="text" id="input3" />
                            <input type="text" id="input4" />*/}}
                            <br/>

                        </div>

                        <div class="addressDiv">
                            <input type="text" name="remoteAddr" id="remoteAddr" class="span6"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value=""
                                   placeholder="远程接口地址,例如:  http://192.168.3.151:9901">
                            <a style="margin-left:8px;" class="btn btn-primary" onclick="saveRemoteAddr()">保存</a>
                            <br/>
                            <hr/>

                        </div>
                        <div id="addressDiv" class="addressDiv">
                        </div>
                        <hr class="addressDiv"/>


                        <p id="fileListDiv">
                            <br/>
                        {{range  $ind,$v := .result.data}}
                            <input type="radio" name="filePath" id="filePath_{{$ind}}" value="{{$v}}"/>
                            <a style="margin-left:8px;cursor: pointer" for=""
                               onclick="setChecked('filePath_{{$ind}}')">查看日志:【{{$v}}】</a>
                            <br/>
                        {{end}}
                        </p>

                    </div>
                </form>
                <p>
                 <textarea id="editData" spellcheck="false" readonly
                           style="min-height: 700px;width: 99%;background-color: #000000;color:#f7f7f9;"></textarea>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    var flag = false;
    $(document).ready(function () {
        var paddT = $("#editData").innerWidth() - $("#editData").width();
        var divHeight = $("#editData").height();

        $("#editData").scroll(function () {
            if (flag) {
                return false;
            }
            var nScrollHeight = $(this)[0].scrollHeight;
            var nScrollTop = $(this)[0].scrollTop;
            if (nScrollTop == 0) {
                flag = true;
                findPrev();
            }

            if (nScrollTop + divHeight + 8 >= nScrollHeight - 10) {
                flag = true;
                findNext();
            }

        })
        setChecked("filePath_8");
    })

    function setChecked(obj) {
        $("#" + obj).attr('checked', 'true');
        $("#fpath").text($("input[type='radio']:checked").val());
        $("#fileListDiv").hide();
        $(".queryDiv").show();
        $(".hideDiv").hide();
        findNext();
    }

    function showLocal() {
        $("#queryType").val("local");
        $("#queryForm").submit();
    }

    function findHeader() {
        $("#preLineNum").val("1")
        $("#lineNum").val("1")
        $("#editData").text("");
        findNext()
    }

    function findTail() {
        $("#editData").text("");
        var vposition = $("#position").val();
        if (parseInt(vposition) <= 1) {
            $("#position").val(1)
        } else {
            $("#position").val(parseInt(vposition) - 1)
        }
        var vremoteAddr = "";
        queryContent(vremoteAddr, "T");
    }

    function findPrev() {
        var vposition = $("#position").val();
        if (parseInt(vposition) <= 1) {
            $("#position").val(1)
        } else {
            $("#position").val(parseInt(vposition) - 1)
        }
        var vremoteAddr = "";
        queryContent(vremoteAddr, "P");
    }

    function findNext() {
        var vposition = $("#position").val();
        if (parseInt(vposition) < 1) {
            $("#position").val(1)
        } else {
            $("#position").val(parseInt(vposition) + 1)
        }
        var vremoteAddr = "";
        queryContent(vremoteAddr, "N");
    }

    function queryContent(remoteAddr, queryType) {
        $("#queryCnt").text("第【" + $("#position").val() + "】次出现")

        var vfilePath = $("input[type='radio']:checked").val();

        if (typeof(vfilePath) == "undefined" || vfilePath == "") {
            showMessage(0, "请选择需要查找的文件", 0);
            return
        }

        var data = {
            "remoteAddr": remoteAddr,
            "filePath": vfilePath,
            "content": $("#content").val(),
            "position": $("#position").val(),
            "lineNum": $("#lineNum").val(),
            "preLineNum": $("#preLineNum").val(),
            "queryType": queryType
        }
        showLoading();
        $.post('{{urlfor "MonitorController.QueryContent"}}', data, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                if (vdata != null) {
                    if ("N" == queryType) {
                        $("#lineNum").val(out.NewlineNum)
                        $("#editData").text($("#editData").text() + vdata);
                    } else if ("P" == queryType) {
                        $("#preLineNum").val(out.NewlineNum)
                        $("#editData").text(vdata + $("#editData").text());
                    } else if ("T" == queryType) {
                        alert(out.NewlineNum)
                        if (out.NewlineNum <= 100) {
                            $("#lineNum").val(out.NewlineNum)
                            $("#preLineNum").val(1)
                        } else {
                            $("#lineNum").val(out.NewlineNum)
                            $("#preLineNum").val(out.NewlineNum - 100)
                        }
                        $("#editData").text(vdata);
                    }
                }

            } else {
                showMessage(0, out.msg, 0);
            }
            flag = false;
            closeLoading();
        }, "json");

    }

    function showRemote() {
        showLoading();
        $("#fileListDiv").html("");
        $.post('{{urlfor "RemoteController.KafkaList"}}', null, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                if (vdata != null) {
                    vhtml = "<span style=\"margin-left:8px;color:#f5a732\">远程地址：</span><br/>";
                    $.each(vdata, function (index, content) {
                        vhtml += "<a style=\"margin-left:8px;cursor: pointer\"  onclick=\"queryRemoteFiles('" + content.RemoteAddr + "')\">查看:【" + content.RemoteAddr + "】</a><br/>";
                    })
                    $("#addressDiv").html(vhtml);
                }
            } else {
                showMessage(0, out.msg, 0)
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
            $(".addressDiv").show()
        }, "json");

    }

    function saveRemoteAddr() {
        var vremoteAddr = $("#remoteAddr").val();
        if (vremoteAddr == "") {
            showMessage(0, "请输入KAFKA远程接口地址", 0);
            return
        }
        $.post('{{urlfor "RemoteController.SaveAddr"}}', {"RemoteAddr": vremoteAddr}, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                vhtml = $("#addressDiv").html() + "<a style=\"margin-left:8px;cursor: pointer\"  onclick=\"queryList(" + vremoteAddr + ")\">查看:【" + vremoteAddr + "】</a><br/>";

                $("#addressDiv").html(vhtml);
            } else {
                showMessage(0, out.msg, 0)
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
        }, "json");
    }

    function queryRemoteFiles(remoteAddr) {
        $("#fileListDiv").html("");
        var vfoldPath = $("#foldPath").val();
        $.post('{{urlfor "LogFileController.ListRemoteFile"}}', {
            "foldPath": vfoldPath,
            "remoteAddr": remoteAddr
        }, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                vTbodyHtml = "RemoteKafka:";
                $.each(vdata, function (index, content) {
                    vTbodyHtml += "<a style=\"margin-left:8px;cursor: pointer\" onclick=\"queryView('" + remoteAddr + "','" + content + "')\">查看日志:【" + content + "】</a><br>";
                })
                $("#fileListDiv").html(vTbodyHtml);
            } else {
                showMessage(0, out.msg, 0)

            }
            closeLoading();
        }, "json");
    }

</script>