<div class="row">
    <div class="span12">
        <style>
            .addressDiv {
                display: none
            }
        </style>

        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <form id="queryForm" action="{{urlfor "MonitorController.View"}}">
                    <div class="btn-toolbar" style="background-color: #f9f2f4;padding: 6px 12px 24px;">
                        <div style="margin-top: 13px;" class="hideDiv">
                            <input type="hidden" name="position" id="position" value="0">
                            <input type="hidden" name="queryType" id="queryType" value="{{.result.param.queryType}}">
                            <input type="hidden" name="preLineNum" id="preLineNum" value="{{.result.param.preLineNum}}">
                            <input type="hidden" name="nextLineNum" id="nextLineNum"
                                   value="{{.result.param.nextLineNum}}">
                            <input type="text" name="foldPath" id="foldPath" class="span6"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{.result.param.foldPath }}"
                                   placeholder="日志路径:默认C:/data/logs">

                            <a style="margin-left:8px;" class="btn btn-primary" onclick="showLocal()">本地</a>

                            <a style="margin-left:8px;" class="btn btn-primary" onclick="showRemote()">远程</a>

                            <div class="tipsType">{{.result.param.queryType}}</div>

                        </div>
                        <span id="tips_err"
                              style="color: #f93e3e;display: block;position: absolute;margin-top: -30px;margin-left: 18px;font-weight: bolder">

                        </span>
                        <div class="queryDiv" style="display: none">
                            <div style="position: absolute;margin-top: -37px;display: none">
                                <span id="fpath" style="color: #1f69c0"></span><br/>
                            </div>
                            <br/>
                            <input type="text" name="content" id="content" class="span5"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value=""
                                   placeholder="搜索内容" onchange="resetPosition()">
                            <a style="margin-left:8px;" class="btn btn-warning" onclick="findPrev()">向前</a>
                            <a style="margin-left:8px;" class="btn btn-success" onclick="findNext()">向后</a>
                            <a style="margin-left:8px;" class="btn btn-warning" onclick="findHeader()">文件头部</a>
                            <a style="margin-left:8px;" class="btn btn-success" onclick="findTail()">文件尾部</a>

                            <br/>

                        </div>

                        <div class="addressDiv">
                            <input type="text" name="remoteAddr" id="remoteAddr" class="span6"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value=""
                                   placeholder="远程接口地址,例如:  http://192.168.3.151:9901">
                            <a style="margin-left:8px;margin-top: 9px;" class="btn btn-primary"
                               onclick="saveRemoteAddr()">保存</a>
                            <br/>
                            <hr/>

                        </div>
                        <div id="addressDiv" class="addressDiv">
                        </div>
                        <hr class="addressDiv"/>


                        <p id="fileListDiv">
                            <br/>
                        {{range  $ind,$v := .result.data}}
                            <input type="radio" name="filePath" id="filePath_{{$ind}}" value="{{$v}}"/>
                            <a style="margin-left:8px;cursor: pointer" for=""
                               onclick="setChecked('filePath_{{$ind}}')">查看日志:【{{$v}}】</a>
                            <br/>
                        {{end}}
                        </p>

                    </div>
                </form>
                <p>
                 <textarea id="editData" spellcheck="false" readonly
                           style="min-height: 550px;width: 99%;background-color: #000000;color:#f7f7f9;padding-top: 10px;"></textarea>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    var isTigger = true;
    $(document).ready(function () {
        var paddT = $("#editData").innerWidth() - $("#editData").width();
        var divHeight = $("#editData").height();

        $("#editData").scroll(function () {

            if (!isTigger) {
                return false;
            }

            var nScrollHeight = $(this)[0].scrollHeight;
            var nScrollTop = $(this)[0].scrollTop;
            if (nScrollTop == 0) {
                isTigger = false
                scrollPre();
                $(this)[0].scrollTop = 10;
            } else {
                if (nScrollTop + divHeight + 8 >= nScrollHeight - 10) {
                    isTigger = false
                    scrollNext();
                }
            }
        })
        var sHeight = $(window).height(); //浏览器时下窗口可视区域高度
        setChecked("filePath_10");
    })

    function setChecked(obj) {
        $("#" + obj).attr('checked', 'true');
        $("#fpath").text($("input[type='radio']:checked").val());
        $("#fileListDiv").hide();
        $(".queryDiv").show();
        $(".hideDiv").hide();
        findNext();
    }

    function resetPosition() {
        $("#position").val("0");
    }

    function showLocal() {
        $("#queryType").val("local");
        $("#queryForm").submit();
    }

    function findHeader() {
        isTigger = false;
        $("#editData").val("");
        $("#queryType").val("H");
        queryContent("scroll");

        $("#editData").animate({scrollTop: "15px"}, 0);
    }

    function findTail() {
        isTigger = false;
        $("#editData").val("");
        $("#queryType").val("T");
        queryContent("scroll");
        $("#editData").animate({scrollTop: "15px"}, 0);

    }

    function findPrev(operType) {
        $("#queryType").val("P");
        queryContent("button");
    }

    function findNext() {
        $("#queryType").val("N");
        queryContent("button");
    }

    function scrollPre() {
        $("#queryType").val("P");
        queryContent("scroll");
    }

    function scrollNext() {
        $("#queryType").val("N");
        queryContent("scroll");
    }

    function queryContent(operType, isClear) {

        var vfilePath = $("input[type='radio']:checked").val();

        if (typeof(vfilePath) == "undefined" || vfilePath == "") {
            showMessage(0, "请选择需要查找的文件", 0);
            return
        }

        var queryType = $("#queryType").val();
        if (typeof(operType) == "undefined" || operType == "") {
            operType = "button"
        }
        var remoteAddr = $("#remoteAddr").val();
        var vposition = $("#position").val();
        var data = {
            "remoteAddr": remoteAddr,
            "filePath": vfilePath,
            "content": $("#content").val(),
            "nextLineNum": $("#nextLineNum").val(),
            "preLineNum": $("#preLineNum").val(),
            "queryType": queryType,
            "operType": operType,
            "position": vposition
        }
        showLoading();

        $.ajax({
            type: "post",
            url: '{{urlfor "MonitorController.QueryContent"}}',
            data: data,
            async: false,

            success: function (out) {
                if (out.code == "success") {
                    if (operType == "button") {  //点击按钮 清空内容
                        $("#editData").val("");
                    }
                    if (typeof(out.err) != "undefined" && out.err != "") {
                        var errCode = out.err.split(":");
                        if (errCode[0] == "1001") {
                            $("#tips_err").html(errCode[1]);
                            $("#tips_err").fadeIn(2000, function () {
                                $("#tips_err").fadeOut(1000);
                            });

                        }
                    }
                    vdata = out.data;
                    if (!(operType == "scroll" && queryType == "N")) {
                        $("#preLineNum").val(out.preOffset)
                    }
                    $("#nextLineNum").val(out.nextOffset)
                    if (vdata != null) {
                        if ("N" == queryType) {
                            vdata = $("#editData").val() + vdata;
                        } else if ("P" == queryType) {
                            vdata = vdata + $("#editData").val();
                        }
                        $("#editData").val(vdata);
                    }
                    $("#position").val(out.position)

                } else {
                    showMessage(0, out.msg, 1);
                }
                isTigger = true;
                closeLoading();
            }
        });

    }

    function showRemote() {
        showLoading();
        $("#fileListDiv").html("");
        $.post('{{urlfor "RemoteController.KafkaList"}}', null, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                if (vdata != null) {
                    vhtml = "<span style=\"margin-left:8px;color:#f5a732\">远程地址：</span><br/>";
                    $.each(vdata, function (index, content) {
                        vhtml += "<a style=\"margin-left:8px;cursor: pointer\"  onclick=\"queryRemoteFiles('" + content.RemoteAddr + "')\">查看:【" + content.RemoteAddr + "】</a><br/>";
                    })
                    $("#addressDiv").html(vhtml);
                }
            } else {
                showMessage(0, out.msg, 0)
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
            $(".addressDiv").show()
        }, "json");

    }

    function saveRemoteAddr() {
        var vremoteAddr = $("#remoteAddr").val();
        if (vremoteAddr == "") {
            showMessage(0, "请输入KAFKA远程接口地址", 0);
            return
        }
        $.post('{{urlfor "RemoteController.SaveAddr"}}', {"RemoteAddr": vremoteAddr}, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                vhtml = $("#addressDiv").html() + "<a style=\"margin-left:8px;cursor: pointer\"  onclick=\"queryList(" + vremoteAddr + ")\">查看:【" + vremoteAddr + "】</a><br/>";

                $("#addressDiv").html(vhtml);
            } else {
                showMessage(0, out.msg, 0)
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
        }, "json");
    }

    function queryRemoteFiles(remoteAddr) {
        $("#fileListDiv").html("");
        var vfoldPath = $("#foldPath").val();
        $.post('{{urlfor "LogFileController.ListRemoteFile"}}', {
            "foldPath": vfoldPath,
            "remoteAddr": remoteAddr
        }, function (out) {
            if (out.code == "success") {
                vdata = out.data;
                vTbodyHtml = "RemoteKafka:";
                $.each(vdata, function (index, content) {
                    vTbodyHtml += "<a style=\"margin-left:8px;cursor: pointer\" onclick=\"queryView('" + remoteAddr + "','" + content + "')\">查看日志:【" + content + "】</a><br>";
                })
                $("#fileListDiv").html(vTbodyHtml);
            } else {
                showMessage(0, out.msg, 0)

            }
            closeLoading();
        }, "json");
    }

</script>