<div class="row">
    <div class="span12">

        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <form id="queryForm" action="{{urlfor "LogFileController.View"}}">
                    <div class="btn-toolbar" style="background-color: #f9f2f4;padding: 12px 12px;">
                        <div style="margin-top: 13px;">
                            <input type="text" name="foldPath" id="foldPath" class="span5"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{ if eq .result.param "" }}C:/data/logs{{else}} {{.result.param }} {{end}}"
                                   placeholder="日志路径">
                            <a style="margin-left:8px;" class="btn btn-primary" onclick="queryField()">查询</a>
                        </div>
                        <hr/>
                        <p>
                        {{range  $v := .result.data}}
                            <a style="margin-left:8px;cursor: pointer"
                               onclick="queryView({{$v}})">查看日志:【{{$v}}】</a>
                            <br/>
                        {{end}}
                        </p>
                        <hr/>
                </div>
                </form>
                <p>
                    <textarea id="editData"
                              style="min-height: 700px;width: 99%;background-color: #000000;color:#f7f7f9;"></textarea>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    function queryField() {
        $("#queryForm").submit()
    }

    function queryView(filePath) {
        $(".btn-toolbar").hide();
        $("#editData").html("");
        var ws = new WebSocket("ws://" + window.location.host + "/open/logFile/viewLog?filePath=" + filePath);
        var $ul = $("#editData").html()
        ws.onmessage = function (e) {
            var parsedJson = jQuery.parseJSON(event.data);
            $("#editData").html($ul + parsedJson.message);
            $ul += parsedJson.message;
        };

    }


</script>