<div class="row">
    <div class="span12">

        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <form id="queryForm" action="{{urlfor "LogFileController.View"}}">
                    <div class="btn-toolbar" style="background-color: #f9f2f4;padding: 12px 12px;">
                        <div style="margin-top: 13px;">
                            <input type="hidden" name="queryType" id="queryType" value="{{.result.param.queryType}}">
                            <input type="text" name="foldPath" id="foldPath" class="span5"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{.result.param.foldPath }}"
                                   placeholder="日志路径">
                            <a style="margin-left:8px;" class="btn btn-primary" onclick="showKafka()">KAFKA</a>
                            <a style="margin-left:8px;" class="btn btn-primary" onclick="showTailf()">TAILF</a>
                        </div>
                        <hr/>
                        <p>
                            <span style="margin-left:8px;color:#f5a732">{{.result.param.queryType}}:</span>
                        {{range  $v := .result.data}}
                            <a style="margin-left:8px;cursor: pointer"
                               onclick="queryView({{$v}})">查看日志:【{{$v}}】</a>
                            <br/>
                        {{end}}
                        </p>
                        <hr/>
                    </div>
                </form>
                <p>
                    <textarea id="editData" spellcheck="false"
                              style="min-height: 700px;width: 99%;background-color: #000000;color:#f7f7f9;"></textarea>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    function showKafka() {
        $("#queryType").val("kafka")
        $("#queryForm").submit()
    }

    function showTailf() {
        $("#queryType").val("tailf")
        $("#queryForm").submit()
    }

    function queryView(filePath) {
        if (($("#queryType").val() == "tailf")) {
            $(".btn-toolbar").hide();
            $("#editData").html("");
            var ws = new WebSocket("ws://" + window.location.host + "/open/logFile/tailfLog?filePath=" + filePath);
            var $ul = $("#editData").html()
            ws.onmessage = function (e) {
                var parsedJson = jQuery.parseJSON(event.data);
                $("#editData").html($ul + parsedJson.message);
                $ul += parsedJson.message;
            };
        } else {
            $(".btn-toolbar").hide();
            $("#editData").html("");
            var ws = new WebSocket("ws://" + window.location.host + "/open/logFile/viewLog?filePath=" + filePath);
            var $ul = $("#editData").html()
            ws.onmessage = function (e) {
                var parsedJson = jQuery.parseJSON(event.data);
                $("#editData").html($ul + parsedJson.message);
                $ul += parsedJson.message;
            };
        }

    }


</script>