<div class="row">
    <div class="span12">
        <style>
            .control-group {
                display: inline-table
            }

        </style>

        <div class="widget ">
            <div class="spinner" style="position: absolute;display: none">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <div class="widget-content">
                <h4>请求参数配置 </h4>
                <hr/>
                <form id="send-form">
                    <input type="hidden" name="Id" id="Id" value="{{.result.data.Id}}" class="span6">
                    <input type="hidden" name="operType" id="operType">
                        <p>
                    <div class="control-group">
                        请求地址[【url】:<br/>
                        <textarea id="RemoteAddr" name="RemoteAddr" rows="1"
                                  class="span7" placeholder="接口请求地址">{{.result.data.RemoteAddr}}</textarea>
                    </div>
                    <div class="control-group">
                        &nbsp;&nbsp;&nbsp;&nbsp;请求方法:<br/>
                        <select name="Method" class="btn-large" style="width: 123px;margin-left: 10px;">
                            <option value="GET" {{if eq .result.data.Method "GET"}} selected {{end}}>GET</option>
                            <option value="POST" {{if eq .result.data.Method "POST"}} selected {{end}}>POST</option>
                            <option value="PUT" {{if eq .result.data.Method "PUT"}} selected {{end}}>PUT</option>
                            <option value="DELETE" {{if eq .result.data.Method "DELETE"}} selected {{end}}>DELETE
                            </option>
                            <option value="HEADER" {{if eq .result.data.Method "HEADER"}} selected {{end}}>HEADER
                            </option>
                        </select>
                    </div>
                    <div class="control-group">
                        &nbsp;<br/>
                        <a style="margin-left:10px;" class="btn btn-success" onclick="sendParam()">发 送</a>
                        <a style="margin-left:10px;" class="btn btn-success" onclick="downParam()">下 载</a>
                    </div>
                        </p>

                    <p>
                        请求头【header】:<br/>
                        <textarea id="Header" name="Header" rows="4" class="span10"
                                  onblur="formatValue(this)">{{.result.data.Header}}</textarea>
                    </p>
                    <p>
                        参数【param】:<br/>
                        <textarea id="Param" name="Param" rows="4" class="span10"
                                  onblur="formatValue(this)">{{.result.data.Param}}</textarea>
                    </p>
                    <p>
                        请求体【body】：<br/>
                        <textarea id="Body" name="Body" rows="8" class="span10"
                                  onblur="formatValue(this)">{{.result.data.Body}}</textarea>
                    </p>
                    <p>
                        响应内容：<br/>
                    <pre id="responseData" style="margin-left:0px;" class="span10 alert-success">

                    </pre>

                    </p>

                </form>
            </div>
            <div id='container' style="display: none"></div>
        </div>
    </div>
</div>
<script>

    function formatValue(obj) {

        var vHeader = $(obj).val();
        var options = {
            dom: document.getElementById('container'),
            isCollapsible: false
            //对应容器的css选择器
        };
        window.jf = new JsonFormatter(options);
        jf.doFormat(vHeader);
        $(obj).val(($("#container").text()));
        var vscrollHeight = $(obj).prop('scrollHeight');
        $(this).height(vscrollHeight + "px");

    }

    $(document).ready(function () {
        $("textarea").on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        })
        $("textarea").each(function () {
            if ($(this).val() == "" && $(this).attr("name") != "RemoteAddr") {
                $(this).val("{}");
            }
        })
    })

    function downParam() {
        trimForm("send-form");
        var vRemoteAddr = $("#RemoteAddr").val();
        $("#operType").val("down")

        if (vRemoteAddr == "") {
            showMessage(0, "请输入请求地址", 0);
            return
        }
        $("#send-form").attr("action", '{{urlfor "RemoteController.Save"}}').attr("method", "post")
        $("#send-form").submit();

    }
    function sendParam() {
        trimForm("send-form");
        var vRemoteAddr = $("#RemoteAddr").val();

        if (vRemoteAddr == "") {
            showMessage(0, "请输入请求地址", 0);
            return
        }

        showLoading()
        $.post('{{urlfor "RemoteController.Save"}}', $("#send-form").serialize(), function (out) {

            if (out.code == "success") {
                //showMessage(1, out.msg, 0);
                $("#responseData").text(out.data);
            } else {
                showMessage(0, out.msg, 0);
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
        }, "json");
    }


</script>