<div class="row">
    <div class="span12">

        <div class="widget ">

            <div class="widget-content">
                <h4>接口调用历史</h4>
                <hr/>
                <div class="alert hide" role="alert"></div>

                <div class="btn-toolbar">
                    <form id="query-from" method="get">
                        <div class="btn-group">
                            <input type="text" name="RemoteAddr" class="span6"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{.param.RemoteAddr__icontains}}" placeholder="接口地址">
                            <input type="text" name="Body" class="span3"
                                   style="position: relative;float: left;margin-left:13px;"
                                   value="{{.param.Body__icontains}}" placeholder="请求体:Body">
                            <a style="margin-left:8px;" class="btn btn-primary" onclick="queryRemote()">查询</a>
                            <a style="margin-left:8px;" class="btn btn-danger" onclick="deleteRemote()">删除</a>
                        </div>

                    </form>
                </div>
                <hr/>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th width="20"><input type="checkbox" name="chkall" value="1">
                        </td>
                        <th class="span2">主键</th>
                        <th class="span2">请求地址</th>
                        <th class="span1">方法</th>
                        <th class="span2">header</th>
                        <th class="span2">param</th>
                        <th class="span2">body</th>
                        <th class="span2">调用时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $k, $v := .result.data}}
                    <tr>
                        <td><input type="checkbox" name="ids" value="{{$v.Id}}"/></td>
                        <td class="span2"><a href="{{urlfor "RemoteController.Edit" "Id" $v.Id }}"
                                             target="_blank">{{$v.Id}}</a></td>
                        <td class="span2">{{$v.RemoteAddr}}</td>
                        <td class="span1">{{$v.Method}}</td>
                        <td class="span2">{{$v.Header}}</td>
                        <td class="span2">{{$v.Param}}</td>
                        <td class="span2">{{$v.Body}}</td>
                        <td class="span2">{{date $v.CreateTime  "Y-m-d H:i:s"}}</td>

                    </tr>
                    {{end}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="100">{{str2html .pageBar}}</td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div> <!-- /row -->
<script>

    $(function () {
        $("input[name='chkall']").click(function () {
            $("input[name='ids']").attr("checked", $(this).attr("checked") == "checked");
        });
    });

    function queryRemote() {
        $("#query-from").submit()
    }

    function deleteRemote() {
        var ids = ""
        $("input[name='ids']:checked").each(function () {
            ids += $(this).val() + ","
        })
        if (ids == "") {
            showMessage(0, "请选择删除的数据", 0)
            return
        }

        showLoading();
        $.post('{{urlfor "RemoteController.Delete"}}', {"Ids": ids}, function (out) {
            if (out.code == "success") {
                window.location.href = '{{urlfor "RemoteController.List"}}';
            } else {
                showMessage(0, out.msg, 0)
                $("button[type='submit']").attr('disabled', false);
            }
            closeLoading();
        }, "json");
        return false;
    }
</script>